@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&family=Prompt:wght@500&family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/170407220916-04-iconic-mountains-matterhorn-restricted.jpg?q=w_2512,h_1413,x_0,y_0,c_fill/h_618);
    background-size: cover;
    height: 100vh;
    width: auto;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player {
    background-image: radial-gradient(rgb(255, 162, 55), rgb(6, 0, 52));
    border-radius: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.wrapper {
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.track-art {
    margin: 10px;
    height: 250px;
    width: 250px;
    border: 2px solid #fff;
    border-radius: 200px;
    background-size: cover;
    background-position: center;
}

.now-playing {
    font-size: 1rem;
}

.track-name {
    font-size: 1.5rem;
}

.track-artist {
    margin-top: 3px;
    font-size: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 0px; */
    padding: 15px;
    margin: 10px;
}

.active {
    color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
    padding: 5px;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek-slider,
.volume-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: #83a9ff;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.seek-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}

.seek-slider:hover,
.volume-slider:hover{
    opacity: 1;
}

.seek-slider{
    width: 60%;
}

.volume-slider{
    width: 30%;
}

.current-time,
.total-duration {
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
    cursor: pointer;
}

.randomActive {
    color: black;
}

.rotate{
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.loader {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .stroke {
    background: #f1f1f1;
    height: 50px;
    width: 8px;
    border-radius: 10px;
    margin: 5px 5px;
    animation: animate 1.4s linear infinite;
}

@keyframes animate{
    50%{
        height: 20%;
        background: #4286f4;
    }
    100%{
        height: 100%;
    }
}

.stroke:nth-child(1){
    animation-delay: 0s;
}
.stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}